* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    height: 65vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horizontal-list {
    list-style: none;
}

.horizontal-list li {
    display: inline-block;
}

.nav-list {
    font-size: 1.2rem;    
    padding-top: 2rem;
}

.nav-list li {
    margin: 0 8px 8px 0;
    font-weight: 100;
}

.white-text {
    color: white;
}

.centered-text {
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    transition: color 0.5s, border 4s;
    color: white;
    padding: 5px;
}

.nav-list li a:hover {
    color: lightgrey;
    border: 1px solid white;
    padding: 4px;
}

#name-social-container {
    margin-top: 20vh;
}

#name-social-container h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

#social-icons-container i {
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 4px;
}

#social-icons-container i:hover {
    color: lightgray;
    box-shadow: 0 0 6px 2px;
}

.fab {
    color: white;
    margin: 10px;
}


#about-section {
    height: auto;
}

#photo-container {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -17vh;
    position: relative;
}

#photo-container img {

    height: 100%;
    width: 100%;
    border: 4px solid white;
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 50%;
}

#about-container {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    display: inline-block;
    width: auto;
    padding: 20px 10px 10px;
    margin-right: 0.5rem;
    color: #2857a4;
    font-size: 40px;
    font-weight: 400;
}
