* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    height: 65vh;
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horizontal-list {
    list-style: none;
}

.horizontal-list li {
    display: inline-block;
}

.nav-list {
    font-size: 1.2rem;    
    padding-top: 2rem;
}

.nav-list li {
    margin: 0 8px 8px 0;
    font-weight: 100;
}

.white-text {
    color: white;
}

.centered-text {
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    transition: color 0.5s, border 4s;
    color: white;
    padding: 5px;
}

.nav-list li a:hover {
    color: lightgrey;
    border: 1px solid white;
    padding: 4px;
}

#name-social-container {
    margin-top: 20vh;
}

#name-social-container h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

#social-icons-container i {
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 4px;
}

#social-icons-container i:hover {
    color: lightgray;
    box-shadow: 0 0 6px 2px;
}

.fab {
    color: white;
    margin: 10px;
}


#about-section {
    height: auto;
}

#photo-container {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -17vh;
    position: relative;
}

#photo-container img {

    height: 100%;
    width: 100%;
    border: 4px solid white;
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 50%;
}

#about-container {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    display: inline-block;
    width: auto;
    padding: 20px 10px 10px;
    margin-right: 0.5rem;
    color: #2857a4;
    font-size: 40px;
    font-weight: 400;
}

#skills-container {
    width: 100%;
}

.skills-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-list {
    list-style: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.skills-list img {
    width: 100px;
}

.skills-label {
    color: gray;
    font-size: xx-large;
}

.projects-list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-card {
    /* border: black 2px solid; */
    border:white 2px solid;
    padding: 10px;
    width: 450px;
    margin: 10px 20px;
    border-radius: 2%;
    background-color: #9e9b9b29;
}

.project-card:hover {
    background-color: white;
    border: black 2px solid;
}

.project-card img {
    width: 100%;
}

.preview {
    margin: 10px;
    border: 1px solid black;
}

.desc {
    padding: 20px;
}

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
    width: 100%;
}

#contact-form-container {
    width: 40%;
    margin-right: 60px;
}

#contact-container {
    display: flex;
    justify-content: center;
}

#details-container {
    width: 30%;
}

#details-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.details-info-container {
    margin-bottom: 20px;
}

#contact-form input, textarea {
    max-width: 90%;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    padding: 4px 10px;
    margin: 15px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button {
    color: white;
    background: transparent;
    padding: 10px;
    font-size: 0.95rem;
    border: 2px solid white;margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}