@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Maple Mono';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/MapleMono-Bold.woff2) format(woff2);
    }
    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Inter-Regular.woff2) format(woff2);
    }
}


@keyframes slideRight {
  0% {
      transform: translateX(-40%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 0.5s ease-out;
}

@keyframes slideLeft {
  0% {
      transform: translateX(40%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.5s ease-out;
}

@keyframes slideDown {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideUp {
  0% {
      transform: translateY(80%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out;
}
